{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		
		<style id="dark-style">kosong</style>
		
		<style>
			body {
				background-color:#f0f0f0;
			}
		</style>
		
		
		<script>
			function changeTheme() {
				if(document.getElementById("dark-style").innerHTML == ".dark-theme{background-color:#101020;color:white;}.dark-theme .card-header {background-color:#101018;}.dark-theme .table-responsive {color:white;}") {
					document.getElementById("dark-style").innerHTML = "kosong";
					document.getElementById("changeMode").innerHTML = "Bright Mode";
				}
				else if(document.getElementById("dark-style").innerHTML== "kosong") {
					document.getElementById("dark-style").innerHTML = ".dark-theme{background-color:#101020;color:white;}.dark-theme .card-header {background-color:#101018;}.dark-theme .table-responsive {color:white;}";
					document.getElementById("changeMode").innerHTML = "Dark Mode";
				}
			}
		</script>
	
	</head>
	<body class="dark-theme">
				
		<div style="margin-top:2%;margin-right:10%;margin-left:10%;margin-bottom:5%;">	
			
			<div class="d-flex bd-highlight mb-3">
			  <div class="mr-auto p-2 bd-highlight"><h1 class="font-weight-bold">FAQ</h1></div>
			  <div class="p-2 bd-highlight"><p>mode : </p></div>
			  <div class="p-2 bd-highlight"><button type="button" class="btn btn-dark" onclick=changeTheme() id="changeMode">Bright Mode</button></div>

			</div>
			
			<div id="accordion" style="margin-bottom:2%">
				<div class="card">
					<div class="dark-theme card-header" id="headingOne">
						<h5 class="mb-0">
							<button class="dark-theme btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								What is this website for?
							</button>
						</h5>
					</div>
					<div id="collapseOne" class="dark-theme collapse" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body">
							This website is a simple public status writer. you can write almost everything less then 300 character.
						</div>
					</div>
				</div>
			  
				<div class="card">
					<div class="dark-theme card-header" id="headingTwo">
						<h5 class="mb-0">
							<button class="dark-theme btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							What is the purpose?
							</button>
						</h5>
					</div>
					<div id="collapseTwo" class="dark-theme collapse" aria-labelledby="headingTwo" data-parent="#accordion">
						<div class="card-body">
							This public status writer can be used to write your status when any major event happen to you, so you can always watch bach what has happen to you recently (but you can use this web as you want)
						</div>
					</div>
				</div>
				
				<div class="card">
					<div class="dark-theme card-header" id="headingThree">
						<h5 class="mb-0">
							<button class="dark-theme btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								Since this is a public web, how do i check my last written status?
							</button>
						</h5>
					</div>
					<div id="collapseThree" class="dark-theme collapse" aria-labelledby="headingThree" data-parent="#accordion">
						<div class="card-body">
							Well for that lets make this mutual agreement to write in this format "[Unique username] : [Status]"<br>
							Example : <br>
							Admin123 : FINALLY FINISH THIS SH*T<br>
							Admin123 : finally finish all those homework (never happen lol)
						</div>
					</div>
				</div>
			</div>			
				
			<form action="{% url 'landingPage:landingPage' %}"method="POST" class="dark-theme">
				{% csrf_token %}
				<div class="form-group" style="display:none"> {{ form.post_time }} </div>
				<div class="d-flex flex-row bd-highlight mb-3">
					<div class="form-group p-2 w-100 bd-highlight">{{ form.status }}</div>
					<div class="p-2 flex-shrink-1 bd-highlight"><input class="btn btn-info" style="float:right;margin-bottom:5%;" type="submit" value="Post" id="submit"></div>
				</div>
			</form>
			
			<div class="table-responsive dark-theme" style="margin-top:5%">
				<table class="table">
					<thead>
						<tr class="dark-theme">
							<th scope="col">Time</th>
							<th scope="col">Status</th>
						</tr>
					</thead>
					<tbody>
						{% for s in schedule %}
							<tr class="dark-theme">
								<td scope="row">{{ s.post_time }}</td>
								<td class="text-wrap" style="width:60%">{{ s.status }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
